<% provide(:title, 'Search Result')%>
<h1>Search Result</h1>
<ul class="users">
	<%= @xml_doc.xpath("//person").each do |rec| %>
		<li>
			<div class="media">
				<div class="pull-left" style="padding-right: 5px">
					<%= image_tag "#{rec.at('picture-url').text}", class: "img-polaroid" if !rec.at('picture-url').nil?%>
				</div>
				<div class="media-body">
					<strong><%= link_to "#{show_text(rec.at('first-name'))} #{show_text(rec.at('last-name'))}", "#{show_text(rec.at('public-profile-url'))}", target: "_blank"  %></strong><br/>		
					<%= "#{show_text(rec.at('headline'))}"%>
				</div>
			</div>
		</li>
	<% end %>
</ul>
