<header class="navbar">
  <div class="navbar-inner">
    <div class="container">
    <%= link_to 'Recruit Yes', "#", {id: "logo", class: 'brand'}%>
	<nav>
		<ul class="nav pull-right">
			<li><%= link_to 'Home', 	"#"%></li>
			<li><%= link_to 'About', 	about_path%></li>
			<li><%= link_to 'Sign In', 	signup_path%></li>
		</ul>
	</nav>
    </div>
  </div>
</header>